html, body {
    color:                  #333;
    font-family:            "RobotoDraft", "Roboto", sans-serif;
    font-size:              1em;
    line-height:            1em;
    margin:                 0;
    padding:                0;
    -webkit-font-smoothing: antialiased
}

.centeredContainer {
    margin:    0 auto;
    max-width: 1200px;
    padding:   1em;
}

header {
    background-color: #ff9800;
    box-shadow:       0 2px 5px rgba(0, 0, 0, 0.26);
    color:            #fff;
    font-size:        1.25em;
    margin-bottom:    5px;
}

#colorContainer {
}

#colorContainer div {
    font-size:      14px;
    font-weight:    500;
    padding:        15px;
    text-transform: uppercase;
}

#colorContainer div.divider {
    border-top: 4px solid #fafafa;
}